<h4>Share an experience</h4>
  <%= bootstrap_form_for @post do |f| %>
    <%= f.text_field :title, label: "Title" %>
    <%= f.text_area :text, label: "Description" %>
    <%= f.submit %>

  <% end %>
