<div class="col2 col-sm-4">
  <h1>Post Incomplete</h1>

  <%= bootstrap_form_for @post do |f| %>
    <%= f.text_field :title, label: "Title" %>
    <%= f.text_area :text, label: "Description" %>
    <%= f.submit %>

  <% end %>
</div>
